{% extends "base.html" %} {% block content %}
<h1 class="h1"><strong>About Project Grading System</strong></h1>
<p id="animated-text" class="animated-text">
  project grading system is designed to streamline the process of evaluating and
  providing feedback on student projects. Whether you're an instructor assessing
  assignments or a student submitting your work, our platform offers a
  user-friendly interface and robust functionality to enhance your grading
  experience.<br />
  For instructors, our system provides comprehensive tools for setting up
  assignments, defining grading criteria, and efficiently evaluating student
  submissions.<br />
  Students benefit from an intuitive submission process, clear assignment
  instructions. Our system allows students to submit their projects online,
  track their progress, and access grades easily.<br />
  Overall, we aim to create a transparent and efficient grading experience that
  promotes learning, engagement, and collaboration between instructors and
  students. Join us in revolutionizing project grading for the digital age!
</p>
<script>
  class TextAnimator {
    constructor(element, intervalTime = 20) {
      this.element = element;
      this.text = element.textContent.trim();
      this.intervalTime = intervalTime;
      this.index = 0;
      this.intervalId = null;
      this.element.textContent = '';
    }
    animate() {
      this.intervalId = setInterval(() => {
        if (this.index < this.text.length) {
          this.element.textContent += this.text[this.index];
          if (this.text[this.index] === ' ' || this.text[this.index] === '\n') {
            this.element.textContent += ' ';
          }
          this.index++;
        } else {
          clearInterval(this.intervalId);
        }
      }, this.intervalTime);
    }
  }
  const animatedTextElement = document.getElementById('animated-text');
  const textAnimator = new TextAnimator(animatedTextElement);
  textAnimator.animate();
</script>
{% endblock %}
