{% extends "base.html" %}
{% block content %}
{% if user.profile.major != 'admin' %}
<p class="error">Dear, you do not have permissions to access this page. We request you to navigate to the page dedicated to your major. Thank you for understanding.</p>
{% else %}
<div class="table-responsive">
    <table class="usertable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Major</th>
                <th>Approved</th>
                <th>Update Major</th>
                <th>Delete User</th>
            </tr>
        </thead>
        <tbody>
            <form method="post" action="{% url 'admin_page' %}">
            {% csrf_token %}
            {% for profile in profiles %}
            <tr>
                <td>{{ profile.id }}</td>
                <td>{{ profile.user.username }}</td>
                <td>{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
                <td>{{ profile.user.email }}</td>
                <td>{{ profile.sex }}</td>
                <td>{{ profile.major }}</td>
                <td>{{ profile.is_approved }}</td>
                <td>
                    <input type="hidden" name="profile_id" value="{{ profile.id }}">
                    <input type="text" name="major" value="{{ profile.major }}">
                    <input type="checkbox" name="is_approved" {% if profile.is_approved %} checked {% endif %}>
                    <input type="submit" name="action" value="Update Major">
                </td>
                <td>
                    <input type="hidden" name="profile_id" value="{{ profile.id }}">
                    <input type="submit" name="action" value="Delete User">
                </td>
            </tr>
            {% endfor %}
            </form>
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}